@page "/tracelog"

@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer

<h3>Trace Log</h3>

@if (((CustomLoggerProvider)CustomLoggerProvider).GetLogMessages().Any())
{
    <Tabs @ref="tabsMainRef">
        @foreach (var category in LogMessageCategories)
        {
            <Tab Title="@category">
                <Content>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in ((CustomLoggerProvider)CustomLoggerProvider).GetLogMessages().Where(x => x.Category == category || x.Category!.Split(".").Last() == category).OrderByDescending(x => x.TS).Take(500))
                            {
                                <tr>
                                    <td>@log.TS</td>
                                    <td>@log.Message</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Content>
            </Tab>
        }
    </Tabs>
}
else
{
    <p>No log messages available.</p>
}

@code {

    [Inject]
    private ILoggerProvider CustomLoggerProvider { get; set; } = default!;

    private List<string> LogMessageCategories
    {
        get
        {
            var categories = ((CustomLoggerProvider)CustomLoggerProvider).GetLogMessages().Where(x => x.Category != null).Select(s => s.Category!.Contains(".") ? s.Category.Split(".").Last() : s.Category);
            if (categories != null)
                return categories.GroupBy(x => x).Select(s => s.Key).OrderBy(o => o).ToList();
            else
                return new List<string>();
        }
    } 

    private Tabs tabsMainRef = default!;


    protected override void OnInitialized()
    {
        ((CustomLoggerProvider)CustomLoggerProvider).LogMessages.CollectionChanged += CollectionChanged;
    }

    private async void CollectionChanged(object? sender, System.Collections.Specialized.NotifyCollectionChangedEventArgs e)
    {
        await InvokeAsync(StateHasChanged);
    }
}
