@page "/weather"

@using System.Collections.Specialized
@using BlazorBootstrap
@using EnergyAutomate.Definitions
@using EnergyAutomate.Services
@using Microsoft.AspNetCore.Components.Web

@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer

@inject ApiService ApiService

<PageTitle>Weather</PageTitle>

<CardGroup Class="my-3">
    <Card Class="mb-4" Style="width:18rem;">
        <CardHeader>Defaults</CardHeader>
        <CardBody>
            <div class="form-group row mb-3">
                <label class="col-md-6 col-form-label">
                    <strong>SunRise:</strong>
                </label>
                <div class="col-md-6">
                    @ApiService.CurrentState.SunRise?.ToString()
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-md-6 col-form-label">
                    <strong>SunRise:</strong>
                </label>
                <div class="col-md-6">
                    @ApiService.CurrentState.SunSet?.ToString()
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-md-6 col-form-label">
                    <strong>Daylight duration:</strong>
                </label>
                <div class="col-md-6">
                    @if (WeatherForecast?.Daily?.Daylight_duration != null)
                    {
                        var seconds = Math.Round(WeatherForecast.Daily.Daylight_duration[0], 0);
                        var sunshine_duration = TimeSpan.FromSeconds(Convert.ToInt64(seconds));
                        @($"{sunshine_duration.ToString()} hh:mm:ss")
                    }
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-md-6 col-form-label">
                    <strong>Sunshine duration:</strong>
                </label>
                <div class="col-md-6">
                    @if (WeatherForecast?.Daily?.Sunshine_duration != null)
                    {
                        var seconds = Math.Round(WeatherForecast.Daily.Sunshine_duration[0],0);
                        var sunshine_duration = TimeSpan.FromSeconds(Convert.ToInt64(seconds));
                        @($"{sunshine_duration.ToString()} hh:mm:ss")
                    }
                </div>
            </div>
        </CardBody>
    </Card>
    <Card Class="mb-4" Style="width:18rem;">
        <CardHeader>Standard program</CardHeader>
        <CardBody>

        </CardBody>
    </Card>
</CardGroup>
<Card Class="my-3">
    <CardHeader>Actions</CardHeader>
    <CardBody>

    </CardBody>
</Card>
<Card Class="my-3">
    <CardHeader>Devices</CardHeader>
    <CardBody>

    </CardBody>
</Card>